<div class="social">
  <ul>
      <li><a href="https://www.facebook.com/ViajesChilangoTOURS/" class="icon-facebook" target="_blank"></a></li>
      <li><a href="https://www.twitter.com/ToursChilango" class="icon-twitter" target="_blank"></a></li>
      <li><a href="https://www.instagram.com/chilano_tours/" class="icon-instagram" target="_blank"></a></li>
      <li><a href="https://plus.google.com/u/0/115118117674115789139" class="icon-google" target="_blank"></a></li>
      <li><a href="mailto:viajes@chilangotorus.com" class="icon-mail" target="_blank"></a></li>
  </ul>
</div>
