<div class="card w-75 mx-auto">
  <div class="card-body">
    <h5 class="card-title">INFORMACIÓN IMPORTANTE</h5>
    <div class="card-text">
      <h6>No aplica reembolso ni reprogramación de fecha en caso de: </h6>
      <ul>
        <li>El Cliente se obliga que en caso de no estar a la hora señalada en el punto de salida, perderá el tour sin derecho de reembolso. </li>
        <li>El Cliente perderá el Tour en caso de no llegar a las horas acordadas y señaladas de salida en los puntos intermedios del viaje. Perdiendo su derecho de reclamarlo a la Empresa.</li>
        <li>El Cliente se obliga a presentar “El Pase de Abordar” impreso en el momento de la salida, en caso de no presentarlo, se da por cancelado el servicio sin derecho de reembolso o reprogramación de fecha.</li>
        <li>No incluye gastos personales ni otros no especificados en la descripción del paquete.</li>
        <li>Esta estrictamente prohibido introducir y/o consumir dentro de la unidad bebidas alcohólicas y drogas. En caso de incumplir con esta cláusula el prestador de servicios tendrá en derecho de dar por cancelados los servicios contratados sin derecho de devolución o reclamación por parte del cliente.</li>
        <li>Esta estrictamente prohibido llevar animales dentro de la unidad.</li>
        <li>La empresa no se hace responsable por objetos dejados en la unidad durante el viaje o al finalizar este, así como en los puntos intermedios del viaje.</li>
        <li>En el momento de efectuar el depósito el cliente confirma de recibir la información completa y acepta términos y condiciones de la oferta comercial proporcionada por la empresa.</li>
        <li>Queda entendido que México Al Descubierto no se hace responsable por cualquier reclamación debida a causas de fuerza mayor tales como: huelgas, bloqueos, represiones, revueltas,</li>
      </ul>
    </div>
  </div>
</div>
