<div class="card w-75 mx-auto">
  <img class="card-img-top" src="assets/logo1.png" alt="ChilangoTours Lema">
  <!-- <section class="form_wrap"> -->
  <div class="card-body">
    <h3 class="card-title">
      ¿Quienes somos?
    </h3>
    <ul>

        <p>Chilango TOURS es una empresa mexicana, dedicada a la organización de
        viajes a distintos destinos de México. Desde el 2017 Chilango TOURS ha
        estado comprometido con mejorar la experiencia de viaje de las
        personas, garantizándoles una experiencia confiable, segura y al mejor
        costo.</p>
      <li>Misión</li>
        <p>“Ser una empresa que ofrece los mejores destinos garantizando calidad,
        seguridad y diversión a nuestros clientes”.</p>
      <li>Visión</li>
        <p>“Ser la empresa líder en la organización y ejecución de viajes dentro de
        la república mexicana, innovando la experiencia de viaje de nuestros
        clientes a través de una mejora continua en el servicio”.</p>
      <li>Lema</li>
        <p>"Viaja, descubre y vive el momento"</p>
    </ul>
  </div>
  <!-- </section> -->
</div>
