* {
  margin:0px;
  padding:0px;
  -webkit-box-sizing:border-box ;
  -moz-box-sizing:border-box ;
  box-sizing:border-box;
}

.main-menu {
  margin:auto;
  /* display: block; */
  /* height: 14px;
  width:100%; */
  /* display: table; */
  overflow: auto;
  font-family: Arial;
}

  .tablink {
      background-color: #555;
      color: white;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      text-align: center;
      padding: 14px 16px;
      font-size: 17px;
      width: 25%;
      display: block;
    }

    .tablink:hover {
      background-color: black;
    }

    /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
   color: black;
   display: none;
   padding: 100px 20px;
   height: 100%;
  }

   .tabcontent #Contact::after{
    /* background-image:url(assets/IMG_1688.JPG); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -background-color: #cccccc; */
    /* width: 100%; */
  }

    #Contact {
      position: absolute;
      background-color: blue;
      /* width:75%; */
    }

    #Contact img {
      width:100%;
      max-height:760px;
      position: inherit;
      overflow: hidden;
      /* z-index: 1; */
    }

    #Contact app-contact {
      margin: auto auto;
    }

      /* #Home:hover {background-color: red;}
      #News:hover {background-color: green;}
      #Contact:hover {background-color: blue;}
      #About:hover {background-color: orange;} */
