<div class="row">
  <div id="img_card" class="col-sm-5">
    <div id="pago" class="card">
      <div class="card-body">
        <h4 class="card-title">¿Dónde pagar?</h4>
        <p class="card-text">Se pueden realizar los pagos de las siguientes maneras:</p>
        <ul>
          <li>Deposito Interbancario a la cuenta:
            <div class="cuenta">012180028611224013<br>Eugenia Hidalgo</div>
          <li>En cualquier establacimiento OXXO, 7Eleven, Walmart o Superama depositando a la siguiente cuenta:
            <div class="cuenta">4152 3130 7719 9110</div>
        </ul>
      </div>
    </div>
  </div>
  <!-- <img src="assets/IMG_1688.JPG"> -->
  <div class="col-sm-5">
    <div class="card">
      <div class="card-body mx-auto">
        <h4 class="card-title">Después de pagar</h4>
        <p class="card-text">
          Al realizar el deposito se deberá enviar la imagen
          de la ficha del pago adjunto a la siguiente dirección
          viajes@chilangotours.com
          <br>
          con los siguientes datos:
          <br>
          Escribir en la sección de Asunto: “nombre del tour”
          <br>
          Incluir en el Mensaje:
        </p>
        <ul>
          <li>Nombre completo.
          <li>Correo electrónico.
          <li>Número celular.
          <li>Número de personas que asistirán al tour
          (especificar adultos y niños).
          <li>Fecha de su salida.
          <li>Lugar de salida.
        </ul>
      </div>
    </div>
  </div>
</div>
