<body>
  <div class="jumbotron jumbotron-fluid bg-white mb-0">
    <div class="container">
      <div class="card w-75 mx-auto">
        <section class="form_wrap1">
          <section class="valle_bravo">
          </section>
            <h1>Valle de Bravo<br>y<br>Cascada Velo de Novia</h1>
          <section class="cascada_velo">
          </section>
        </section>
        <div class="card-body">
          <div class="d-md-flex d-sm-flex-column">
            <div class="flex-fill">
              <h4 class="card-title">¿Qué incluye?</h4>
              <div class="card-text">
                <ul>
                  <li>Translado ida y vuelta desde la CDMX <br> (camioneta de turismo o autobús).
                  <li>Visita a la Marquesa
                  <li>Visita cascada velo de novia
                  <li>Visita al pueblo magico de Valle de Bravo
                  <li>Recorrido en Yate.
                  <li>Seguro de viajero (transporte).
                  <li> Coordinador de viaje.
                  <li> Personal capacitado en primeros auxilios y protección civil.
                </ul>
              </div>
            </div>
            <div class="flex-fill">
              <h4 class="card-title">Precíos</h4>
              <div class="card-text">
                <ul>
                  <li><div class="encabezado"><h4>Preventa: </h4><span class="sub-title">Apartando/liquidando antes del 05 de Septiembre</span></div></li>
                    <h5><span class="number">$540</span> adultos/<span class="number"> $490</span> niños*</h5>
                  <li><h4>Costo normal: </h4>
                    <h5>$600 adultos/ $550 niños*</h5>
                  <li>Viajero frecuente y pronto pago 10% de descuento.
                </ul>
                <div class="snd-title">¡¡¡Aparta tú lugar con <span class="number" >$250</span> por persona!!!</div>
                <div class="kids">*Niños de 4 a 10 años de edad.</div>
                <div class="small-letters"><span class="nota">NOTA:</span>
                  En caso de cancelar su reservación con nosotros, es necesario notificar a algún <br>
                  coordinador con un mínimo de 10 días hábiles, de lo contrario, no se le podrá regresar <br>
                  el anticipo que réalizo.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
